<!DOCTYPE html>
<html>
  <head>
    <title>How Many Balloons?</title>
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script>
      $(document).ready(function(){
      window.history.replaceState("","",window.location.href)
      });
    </script>
    <script>
      function goToAll(){ 
        window.location.href = '/all';
        $.get("/all");
    }
    </script>
    <script>
      function goToGithub(){ 
        window.open("https://github.com/cata85/howmanyballoons")
      }
    </script>
    <script>
      function empty() {
        var x, y;
        x = document.getElementById("username").value;
        y = document.getElementById("password").value;
        if (x == "" || y == "") {
            alert("Enter a Valid Username and Password");
            return false;
        }
        return true;
      }
    </script>
    <script>
      async function login() {
        if (!empty()) {
          return false;
        }
        const data = new FormData();
            data.append('username', document.getElementById("username").value); 
            data.append('password', document.getElementById("password").value);
            let response = await fetch('/login', {
            method: 'post',
            body: data,
        })
        .then(function () {
          document.getElementById("username").value = "";
          document.getElementById("password").value = "";
        });
        location.reload();
      }
    </script>
    <script>
      function signup() {
        if (!empty()) {
          return false;
        }
        const data = new FormData();
            data.append('username', document.getElementById("username").value); 
            data.append('password', document.getElementById("password").value);
        fetch('/signup', {
            method: 'post',
            body: data,
        })
        .then(function () {
          document.getElementById("username").value = "";
          document.getElementById("password").value = "";
        });
      }
    </script>
    <script>
      async function logout() {
        let response = await fetch('/logout', {
            method: 'get',
        });
        location.reload();
      }
    </script>
  </head>
  <body>
    {{ if not (eq .name "")}}
    <label>{{ .name }}</label>
    {{ end }}
    {{ if .is_admin }}
    <button id="all" onclick="goToAll()">All Objects</button>
    {{ end }}
    <button id="github" onclick="goToGithub()">Github</button>
    <br>
    {{ if not .logged_in }}
    <div id="loginForm">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" />
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" />
      <input id="loginSubmit" type="submit" value="Sign In" onclick="return login()" />
      <input id="loginSubmit" type="submit" value="Sign Up" onclick="return signup()" />
    </div>
    {{ else }}
    <div>
      <input id="logout" type="submit" value="Logout" onclick="logout()" />
    </div>
    {{ end }}
    <br>
    <img src="/html/static/balloons2done.png" />
    <form action="/" method="POST" id="balloonObjects">
      <label for="itemName">Item Name:</label>
      <input type="text" id="itemName" name="itemName" value="{{.itemName}}" />
      <label for="itemWeight">Item Weight:</label>
      <input type="text" id="itemWeight" name="itemWeight" value="{{.itemWeight}}" />
      <label for="cars">Choose a car:</label>
      <select name="itemWeightType" id="itemWeightType">
        <option value="Pound" {{if (eq .itemWeightType "Pound")}}selected{{end}}>Pound</option>
        <option value="Ounce" {{if (eq .itemWeightType "Ounce")}}selected{{end}}>Ounce</option>
        <option value="UsTon" {{if (eq .itemWeightType "UsTon")}}selected{{end}}>US Ton</option>
        <option value="ImperialTon" {{if (eq .itemWeightType "ImperialTon")}}selected{{end}}>Imperial Ton</option>
        <option value="Microgram" {{if (eq .itemWeightType "Microgram")}}selected{{end}}>Microgram</option>
        <option value="Milligram" {{if (eq .itemWeightType "Milligram")}}selected{{end}}>Milligram</option>
        <option value="Gram" {{if (eq .itemWeightType "Gram")}}selected{{end}}>Gram</option>
        <option value="Kilogram" {{if (eq .itemWeightType "Kilogram")}}selected{{end}}>Kilogram</option>
        <option value="MetricTon" {{if (eq .itemWeightType "MetricTon")}}selected{{end}}>Metric Ton</option>
      </select>
      <br><br>
      <input type="submit" value="Submit" id="balloonObjectsSubmit" />
    </form>
    <br><br><br><br>
    <label># Balloons:</label>
    <input type="text" id="itemBalloons" name="itemBalloons" readonly="true" value="{{.itemBalloons}}" />
    <br>
    <br>
    <h3>Saved Items</h3>
    <table>
      <tr>
        <th>Name</th>
        <th>Weight</th>
        <th>Balloons</th>
      </tr>
      {{ range .savedBalloonObjects }}
        <tr >
          <th>{{ .Name }}</th>
          <th>{{ .Weight }} ({{ .WeightType }}s)</th>
          <th>{{ .Balloons }}</th>
        </tr>
      {{ end }}
    </table>
  </body>
</html>